/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  transition: opacity 0.5s ease; /* Transisi opacity agar lebih halus */
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background-color: #e6e6e6;
  border-radius: 10px;
  border: 2px solid #fff;
  transition: background-color 0.3s ease; /* Transisi warna saat hover */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #e0e0e0;
}

/* Scrollbar will be hidden by default */
.scroll-container {
  overflow-y: scroll;
}

.scroll-container:hover::-webkit-scrollbar {
  opacity: 1; /* Tampilkan scrollbar saat dihover */
}

.scroll-container::-webkit-scrollbar {
  opacity: 0; /* Sembunyikan scrollbar secara default */
}
